<span style="display:none" >
.
</span>








<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/w3css.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/w3 blue grey theme.css">
    <link rel="stylesheet" type="text/css" href="../static/css/w3 metro themes.css" />
    <lik rel="stylesheet" media="screen" href="https://fontlibrary.org/face/layla-ruqaa" type="text/css" />
    <style>
        @import url(http://fonts.googleapis.com/earlyaccess/amiri.css);
        body,
        h1 {
            font-family: 'Amiri', serif;
        }

        .cool-text-green {

            color: #24B574;

        }

        .cool-green {

            background-color: #24B574;

        }

        .diwani {
            font-family: 'LaylaRuqaaRegular';
            font-weight: normal;
            font-style: normal;
        }

        input , select {
            text-align: right;
            width: 70%;
            display: block;
            border: none;
            border-bottom: 2px solid #cecccc;
            margin: 0px auto 0px auto;
        }

        #header1 {
            font-size: 70%;

        }

        #header2 {
            font-size: 80%
        }

        #header3 {

            background-image: url("images/kid-hd.jpg");
            width: 100%;
            height: 70%;
            background-size: cover;
            background-repeat: no-repeat;

        }

        #button1 {
            color: #24aeb5;
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
        }

        #button1:hover {
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19) !important;
            color: #24aeb5 !important;
            background-color: white !important
        }
    </style>


    <script>



        var index = 0;
        function hideAll() {
            var x = document.getElementsByClassName("slideShow");
            for (var i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }

        }

        function set() {

            hideAll();

            var x = document.getElementsByClassName("slideShow");


            if (index < x.length && index >= 0)
                x[index].style.display = "block";
        }



        function next() {
            hideAll();

            index++;

            var x = document.getElementsByClassName("slideShow");


            if (index > x.length - 1)
                index = 0;


            x[index].style.display = "block";



        }

        function prev() {
            hideAll();
            index--;
            var x = document.getElementsByClassName("slideShow");

            if (index < 0)
                index = x.length - 1;

            if (index < x.length && index >= 0)
                x[index].style.display = "block";

        }

        function w3_close() {
            document.getElementById('modal').style.display = 'none';
        }
        function w3_show() {
            document.getElementById('modal').style.display = 'block';
        }


    </script>



</head>



<body onload="set()">
    <div id="main container">


        <div id="header1" style="background-color:#24B574 " class=" w3-row-padding w3-text-white">
            <div class="w3-col w3-third ">
                <p class="w3-right">
                    <span style="margin-right: 5px" class="">
                        <i class="fa fa-phone"></i>
                    </span>
                    Call : +249 xxx xxx xxx
                    <span class=" w3-opacity">|</span>
                </p>
            </div>

            <div class="w3-col w3-third ">
                <p class="w3-right">
                    <span style="margin-right: 5px" class="">
                        <i class="fa fa-envelope"></i>
                    </span>
                    Email : example@com.com
                    <span class=" w3-opacity w3-rightz">|</span>
                </p>
            </div>

            <div class="w3-col w3-third ">
                <p class="w3-left">

                    Follow Us On :
                    <span class="w3-margin-right w3-margin-left">
                        <i class="fa fa-facebook"></i>
                    </span>
                    <span class="w3-margin-right">
                        <i class="fa fa-twitter"></i>
                    </span>
                    <span class="w3-margin-right">
                        <i class="fa fa-youtube-play"></i>
                    </span>
                </p>
            </div>


        </div>

        <div id="header2" class="w3-row-padding" style="height: 100px;">


            <div class="w3-col w3-twothird 
              w3-padding-32">
                <div style="margin-left: 70px ;margin-top : 20px" class="w3-bar w3-left ">
                    <div style="margin-left: 30px ;
                    background-color: #24aeb5" class="w3-bar-item   w3-round-xxlarge">
                        <a style="text-decoration: none" class="w3-text-white" href="#">
                            <span style="margin-right: 5px">
                                <i class="fa fa-heart"></i>
                            </span>Donate now
                        </a>
                    </div>


                    <div class="w3-bar-item " style="margin-right: 10px">
                        <a style="text-decoration: none;" class="w3-text-black" href="#">
                            <b>Home</b>
                        </a>
                    </div>


                    <div class="w3-bar-item " style="margin-right: 10px">
                        <a style="text-decoration: none;" class="w3-text-black" href="#">
                            <b>Home</b>
                        </a>
                    </div>

                    <div class="w3-bar-item " style="margin-right: 10px">
                        <a style="text-decoration: none;" class="w3-text-black" href="#">
                            <b>Home</b>
                        </a>
                    </div>
                    <div class="w3-bar-item " style="margin-right: 10px">
                        <a style="text-decoration: none;border-bottom: #24B574 solid 1px;" class="cool-text-green" href="#">
                            <b>Home</b>
                        </a>
                    </div>


                </div>
            </div>

            <div class="w3-col w3-third ">
                <img src="images/logo3.png" style="margin: 10px 0px 20px 0px ;" class="w3-right" height="100px" />
            </div>

        </div>


        <br/>
        <br/>

        <div class="w3-black  w3-display-container">

            <div id="header3" style="opacity: 0.4;" class="">
                <!--  <img src="images/kid-hd.jpg"
               class="w3-opacity w3-grayscale"
                style="max-width: 700px"> -->

            </div>
            <div class="w3-display-middle w3-center">
                <h1 class="w3-xxlarge">
                    <b>
                        You Can help .. Raise Your
                        <br/>
                        <span style="font-weight: bolder;
                      color: #24B574">
                            helping hand
                        </span>
                    </b>

                </h1>

                <div class="w3-xlarge w3-bar ">

                    <a href="#form" style="text-decoration: none;color: white">
                        <div style="border: 3px solid white;" class="w3-button w3-hover-opacity w3-round-xxlarge w3-margin
                          w3-bar-item">
                            <div class="padd">
                                Join us now
                            </div>
                        </div>
                    </a>

                    <a href="#form" style="text-decoration: none ; color: white">
                        <div style="border: 3px solid #24aeb5;background-color: #24aeb5" class="w3-button w3-hover-border-black w3-hover-opacity
                   w3-round-xxlarge w3-margin
                  w3-bar-item">
                            <div class="">
                                <span style="margin-right: 8px">
                                    <i class="fa fa-heart"></i>
                                </span>Donate now
                            </div>
                        </div>
                    </a>
                </div>
            </div>


        </div>


        <br/>
        <br/>
        <br/>


        <div id="article1" style="max-width: 1300px ; margin: 0px auto 0px auto" class="">
            <div class="w3-row-padding">
                <div class=" w3-half w3-container ">
                    <p>
                        Poverty is the scarcity or the lack of a certain (variant) amount of material possessions or money. Poverty is a multifaceted
                        concept, which may include social, economic, and political elements.
                        <br/> Absolute poverty, extreme poverty, or destitution refers to the complete lack of the means necessary
                        to meet basic personal needs such as food, clothing and shelter.
                        <br/>
                        <br/> The threshold at which absolute poverty is defined is considered to be about the same, independent
                        of the person's permanent location or era. On the other hand, relative poverty occurs when a person
                        who lives in a given country does not enjoy a certain minimum level of "living standards" as compared
                        to the rest of the population of that country. Therefore, the threshold at which relative poverty
                        is defined varies from country to another, or from one society to another.[2]
                    </p>
                </div>

                <div class=" w3-half w3-container w3-padding">
                    <div class="">
                        <img style="width: 100%" src="images/pov1.jpg">
                    </div>

                    <div class="w3-margin-top w3-row-padding">
                        <div class=" w3-half">
                            <img style="width: 100%" src="images/pov1.jpg">
                        </div>

                        <div class=" w3-half">
                            <img style="width: 100%" src="images/pov1.jpg">
                        </div>

                    </div>

                </div>
            </div>
        </div>


        <div id="article2" style="background-color: #24B574;
        max-width: 1300px ; margin: 0px auto 0px auto" class="">
            <div class="w3-row-padding">


                <div class=" w3-half w3-container w3-padding">
                    <div class="">
                        <img style="width: 100%" src="images/pov1.jpg">
                    </div>

                    <div class="w3-margin-top w3-row-padding">
                        <div class=" w3-half">
                            <img style="width: 100%" src="images/pov1.jpg">
                        </div>

                        <div class=" w3-half">
                            <img style="width: 100%" src="images/pov1.jpg">
                        </div>

                    </div>

                </div>

                <div class=" w3-half w3-container ">
                    <p>
                        Poverty is the scarcity or the lack of a certain (variant) amount of material possessions or money. Poverty is a multifaceted
                        concept, which may include social, economic, and political elements.
                        <br/> Absolute poverty, extreme poverty, or destitution refers to the complete lack of the means necessary
                        to meet basic personal needs such as food, clothing and shelter.
                        <br/>
                        <br/> The threshold at which absolute poverty is defined is considered to be about the same, independent
                        of the person's permanent location or era. On the other hand, relative poverty occurs when a person
                        who lives in a given country does not enjoy a certain minimum level of "living standards" as compared
                        to the rest of the population of that country. Therefore, the threshold at which relative poverty
                        is defined varies from country to another, or from one society to another.[2]
                    </p>
                </div>
            </div>
        </div>

        <div id="orgnizations" style="max-width: 1300px;margin: 0px auto 0px auto">

            <div class="w3-ul w3-center w3-xlarge">

                <div style="background-color: #000000" class=" slideShow
                w3-display-container
                  ">
                    <img src="images/kid-hd.jpg" style="width: 100%" class="w3-opacity-max" />

                    <div id="title" class="w3-display-middle">
                        <br/>

                        <h1 class="w3-border-bottom w3-border-green w3-margin-bottom" style="color: #24B574">
                            1 يلا نبادر
                        </h1>
                        <img style="height: 200px;" class="w3-circle" src="images/img1.png">
                        <p class="w3-text-white">
                            نظمة تكافل الخيرية هي منظمة شبابية تطوعية تهدف الى تزكية المجتمع الطلابي... منظمة تكافل الخيرية هي منظمة شبابية تطوعية تهدف
                            الى تزكية المجتمع الطلابي... منظمة تكافل الخيرية هي منظمة شبابية تطوعية تهدف الى تزكية المجتمع
                            الطلابي...
                        </p>
                    </div>


                    <div style="cursor: pointer;;color: #24aeb5" onclick="next()" class="w3-display-right 
                  w3-xxlarge w3-margin-right w3-ircle w3-hover-opacity">
                        &#10095;
                    </div>

                    <div style="cursor: pointer;;color: #24aeb5" onclick="prev()" class="w3-display-left 
                 w3-xxlarge w3-margin-right w3-ircle w3-hover-opacity">
                        &#10094;
                    </div>



                </div>


                <div style="background-color: #000000" class=" slideShow
                w3-display-container
                  ">
                    <img src="images/kid-hd.jpg" style="width: 100%" class="w3-opacity-max" />

                    <div id="title" class="w3-display-middle">
                        <br/>

                        <h1 class="w3-border-bottom w3-border-green w3-margin-bottom" style="color: #24B574">
                            2 يلا نبادر
                        </h1>
                        <img style="height: 200px;" class="w3-circle" src="images/img3.jpg">
                        <p class="w3-text-white">
                            نظمة تكافل الخيرية هي منظمة شبابية تطوعية تهدف الى تزكية المجتمع الطلابي... منظمة تكافل الخيرية هي منظمة شبابية تطوعية تهدف
                            الى تزكية المجتمع الطلابي... منظمة تكافل الخيرية هي منظمة شبابية تطوعية تهدف الى تزكية المجتمع
                            الطلابي...
                        </p>
                    </div>


                    <div style="cursor: pointer;;color: #24aeb5" onclick="next()" class="w3-display-right 
                  w3-xxlarge w3-margin-right w3-ircle w3-hover-opacity">
                        &#10095;
                    </div>

                    <div style="cursor: pointer;;color: #24aeb5" onclick="prev()" class="w3-display-left 
                 w3-xxlarge w3-margin-right w3-ircle w3-hover-opacity">
                        &#10094;
                    </div>



                </div>



                <div style="background-color: #000000" class=" slideShow
                w3-display-container
                  ">
                    <img src="images/kid-hd.jpg" style="width: 100%" class="w3-opacity-max" />

                    <div id="title" class="w3-display-middle">
                        <br/>

                        <h1 class="w3-border-bottom w3-border-green w3-margin-bottom" style="color: #24B574">
                            3 يلا نبادر
                        </h1>
                        <img style="height: 200px;" class="w3-circle" src="images/logo2.png">
                        <p class="w3-text-white">
                            نظمة تكافل الخيرية هي منظمة شبابية تطوعية تهدف الى تزكية المجتمع الطلابي... منظمة تكافل الخيرية هي منظمة شبابية تطوعية تهدف
                            الى تزكية المجتمع الطلابي... منظمة تكافل الخيرية هي منظمة شبابية تطوعية تهدف الى تزكية المجتمع
                            الطلابي...
                        </p>
                    </div>


                    <div style="cursor: pointer;;color: #24aeb5" onclick="next()" class="w3-display-right 
                  w3-xxlarge w3-margin-right w3-ircle w3-hover-opacity">
                        &#10095;
                    </div>

                    <div style="cursor: pointer;;color: #24aeb5" onclick="prev()" class="w3-display-left 
                 w3-xxlarge w3-margin-right w3-ircle w3-hover-opacity">
                        &#10094;
                    </div>



                </div>

            </div>




        </div>

        <div class="w3-container
         w3-center w3-margin-top">

            <span id="button1" onclick="w3_show()" class="w3-xlarge w3-button 
            w3-padding ">
                <span>
                    <i class="fa fa-heart"></i>
                </span>
                تبرع معنا

            </span>
        </div>

        <div id="modal" class="w3-modal">

            <div class=" w3-animate-zoom">

                <div id="" class="w3-margin-top w3-display-container">

                    <div id="form" style="max-width:800px ; background-color:  white;margin: 0px auto 0px auto ;" class="w3-border w3-padding w3-center
                w3-card-4 ">

                        <span onclick="w3_close()" class="w3-xlarge w3-right w3-button w3-hover-red">
                            <i class="fa fa-remove"></i>
                        </span>
                        <br/>
                        <br/>


                        <form class="w3-xlarge w3-margin w3-padding w3-center
                      " action="" method="POST">



                            <input name="name" class="border w3-card-4
                            w3-round-medium
                      w3-padding w3-cad-4" type="text" placeholder="الأسم">
                            <br/>
                            <input name="email" class="border w3-round-medium
                     w3-padding w3-card-4" type="text" placeholder="الايميل">
                            <br/>
                            <input name="phone" class="border w3-round-medium
                    w3-padding w3-card-4" type="text" placeholder="الهاتف">
                            <br/>

                            <select class="w3-white">
                                <option value="org1">
                                    Org 1
                                </option>

                                <option value="org2">
                                    Org 2
                                </option>

                                <option value="org3">
                                    Org 3
                                </option>

                                <option value="org4">
                                    Org 4
                                </option>
                            </select>

                            <div style="border: 3px solid #24aeb5;background-color: #24B574" class="w3-button w3-hover-border-black w3-hover-opacity
                          w3-round-xxlarge w3-margin
                         w3-bar-item">

                                <div class="">
                                    <span style="margin-right: 8px">
                                        <i class="fa fa-heart"></i>
                                    </span>تبرع معنا
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>

        </div>
        <div id="footer" class="w3-center w3-padding w3-margin-top" style="background-color: rgb(16, 122, 74)">
            <p>
                Designed by Mohammed Hashim
            </p>
            <p>
                All rights reserved
            </p>
        </div>





</body>





</html>
